.menu {

    display: none;
    list-style: none;
    padding: 0;
    margin: 0;

    &__button {      
        width: 40px;
        height: 40px;
        background: url('../images/icon-hamburger.svg') no-repeat center;
    }

    a {
        text-decoration: none;
        color: var(--grayBlue);
        padding: 0 .8em;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        display: none;

      &:checked {

        & ~ .menu__button {
            background: url('../images/icon-close.svg') no-repeat center;
        }

        & ~ .menu {
            display: block;
            position: absolute;
            top: 100%;
            padding: 1em;
            left: 0;
            right: 0;
            height: 100vh;
            background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);

            li:first-child a {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            li:last-child a {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

          a {
            background: white;
            padding: .8em 1em;
            color: var(--darkBlue);
            font-size: 1.1em;
            display: block;
            text-align: center;
            flex: 1;
          }
        }
      }
    }

    @media screen and (min-width: 1024px){
      display: flex;

      &__button {
        display: none;
      }
    }
  }